* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.main-container {
    min-height: 97vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container {
    position: relative;
}

.input-box {
    position: absolute;
    top: 1.3em;
    width: 3em;
    height: 5em;
    background-color: white;
}

.my-name {
    font-size: 88px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-wrap-mode: nowrap;
    min-width: 52px;
    min-height: 120px;
}

.fadeOut {
    transition: 1.5s;
    opacity: 0;
}

.description {
    text-align: center;
    margin-top: 0.5em;
    color: white;
    font-family: 'Roboto Mono', monospace;
    opacity: 0;
}

.fadeIn {
    opacity: 1;
    transition: 1s linear;
    transition-delay: 1.5s;
}

#my-img {
    width: 30em;
}

.img-container {
    width: 0em;
    height: 0em;
    overflow: hidden;
}

.img-container.full-height {
    width: initial;
    height: 30em;
    transition: 3s;
    transition-delay: 2.7s;
}

.git-logo {
    position: absolute;
    left: -60em;
    rotate: -180deg;
}

.git-logo-post {
    rotate: 0deg;
    left: -10em;
    transition: 1s ease-out;
    transition-delay: 7s;
}

.email {
    position: absolute;
    right: -60em;
    cursor: pointer;
    rotate: 180deg;
    overflow: hidden;
}

.email img {
    width: 112px;
}

.email-post {
    transition: 1s ease-out;
    transition-delay: 7s;
    right: -10em;
    rotate: 0deg;
}